extends layouts/default/layout.pug

block append stylesheets
  link(rel='stylesheet', href='./resources/stylesheets/pages/index.css')

block content
  .lady-wrapper.relative
    img.object-cover.object-left-top.w-full(
      src='/resources/images/ladies.webp',
      alt='ladies'
    )
    .welcome.absolute.bg-white.px-4.py-6.text-center
      h1.text-2xl.font-light.text-black.pb-3 WELCOME TO KATTWALK
      h4.text-base.font-thin.tracking-wider.my-4.pb-3 HELPING YOU FIND AND EMBRACE #[br] YOUR INNER CELEBRITY
      a.text-white.inline-block.px-4.py-2.uppercase(href='/') Booking with Us

  .our-services
    h2.leading-title.text-center.text-5xl.font-thin OUR SERVICES
    .container
      .services.grid.gap-4.justify-center
        a.article(href='/services')
          h4 HAIR
          div
            | FROM SPECIALTY CUTS TO CUSTOM COLOR, WE'LL HELP YOU ACHIEVE YOUR DREAM LOOK.
        a(href='/services')
          img.w-full.h-full.object-cover.object-left-top(
            src='/resources/images/service_girl.webp',
            alt=''
          )
        a.article(href='/services')
          h4 BEAUTY
          div
            | WITH RUNWAY-READY MAKEUP AND STUNNING LASHES, YOU'LL LOOK THE PART, DAY OR NIGHT.
        a(href='/services')
          img.w-full.h-full.object-cover.object-left-top(
            src='/resources/images/service_supplies.webp',
            alt=''
          )
        a.article(href='/services')
          h4 WELLNESS
          div
            | DISCOVER OUR SUITE OF ENHANCING THERAPIES AND INJECTIONS TO REVITALIZE AT ANY AGE.

  .contact
    .container.h-full
      .flex.h-full
        .contact-information.flex-shrink-0.bg-black.text-white.flex.flex-col.items-center.justify-center
          h5 CONTACT
          .my-4: a(href='mailto:leann@kattwalksalon.com') leann@kattwalksalon.com
          div TEL.425-829-4226

        .address-information.flex-grow.flex.flex-col.items-center.justify-center
          section.mb-6
            h5 ADDRESS
            div 12911 SE Kent-Kangley Road
            div Kent, WA 98030
          section.mt-6
            h5 HOURS
            div Monday - Saturday
            div 10 am - 7 pm
